html, body{
  overflow-x: hidden;
}
body  {
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
}
/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}
/* PHONES */
@media only screen (min-width: 480px) {
  .container {
    width: 320px;
  }
}
/* TABLETS */
@media only screen (min-width: 768px) {
  .container {
    width: 750px;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width: 21%;
  }
}
/* LAPTOPS */
@media only screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width: 21%;
  }
}
/* DESKTOPS */
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* TELEVISION */
@media only screen and (min-width: 1900px) {
  .container {
    width: 1870px;
  }
}

/* HEADER */
header {
  color: #34495e;
  background: #FFFFFF;
}
header nav {
  padding: 1em 0;
}
header nav ul {
  display: inline;
  text-align: right;
  float: right;
  margin: 0;
}
header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
}
header nav ul > li.btn-outline {
  padding: 10px 15px;
  border: 2px solid #34495e;
  border-radius: 4px;
}
header nav ul > li.btn-outline:hover {
  background: #FFFFFF;
}
header nav ul > li > a {
  color: #34495e;
  text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
  color: #34495E;
}
header .hero-left {
  display: inline-block;
  float: left;
  position: absolute;
  left: 280px;
  width: 50%;
}
header .hero-right {
  text-align: left;
  display:inline-block;
  float: right;
  left: 150px;
  width: 50%;
  top: 10px
}
header .hero-right h1 {
  font-size: 38px;
  line-height: 60px;
  font-weight: 800;
  color: #34495e;
}
header .hero-right p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
}
header .wrapper {
  width: 100%;
  margin-top: 140px;
  height: 702px;
}
/* BUTTONS */
.btn {
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 30px;
  background: #72166b;
  border: 2px solid #72166b;
  box-shadow: 0px 2px 0px 0px #4b0746;
}
/* BENEFITS */
.benefits {
  color: #FFFFFF;
  text-align: center;
  display: block;
  background: url("../images/gradient.jpg");
  width: 100%;
}
.benefits ul {
  margin: 0 auto;
  padding: 4em 0;
}
.benefits ul li {
  list-style-type: none;
  display: inline-block;
}
.benefits h2 {
  font-size: 28px;
  font-weight: 800;
}
.benefits p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
/* PRICING */
.pricing {
  background: url("../images/desk-image.svg");
  background-size: cover;
  text-align: center;
  padding: 4em 0;
  color: #34495e;
}
.pricing h2, {
  font-size: 28px;
  font-weight: 800;
}
.pricing p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
.pricing ul {
  margin:0 auto;
  padding: 2em 0;
}
.pricing ul li {
  list-style-type: none;
  font-weight: normal;
}
.box {
  padding: 0 15px 15px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  min-height: 439px;
  position: relative;
  margin-top: 25px;
}
.box.middle {
  min-height: 485px;
  margin-top: 0px;
}
.box h3 {
  color: #FFFFFF;
  font-weight: black;
  text-transform: uppercase;
  background: #34495e;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  margin: 0 -15px 40px;
  padding: 10px 0;
}
.box h4 {
  color: #34495e;
  font-size: 50px;
  font-weight: black;
  margin: 40px 0 10px;
}
.box h4 span {
  font-size: 32px;
  vertical-align: top;
}
.box h4 span.month {
  font-weight: 100;
  color: #909090;
  font-size: 20px;
  vertical-align: middle;
}
.box ul li {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 100;
}
.box .btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
.small {
  font-size: 12px;
  color: #34495e;
  line-height: 15px;
  font-style: italic;
}
/* TESTIMONIALS */
.testimonials {
  padding: 4em 0;
  text-align: center;
}
.testimonials h2 {
  color: #34495E;
  font-size: 28px;
  line-height: 36px;
  font-weight: 800;
}
.testimonials p {
  color: #34495e;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.testimonials ul li {
  list-style-type: none;
}
.testimonials blockquote {
  color: #FFFFFF;
  text-align: left;
  font-style: italic;
  background: #34495E;
  position: relative;
  padding: 30px;
  width: auto;
  margin: 0;
  line-height: 24px;
  font-weight: 400;
}
.testimonials blockquote:after {
  top: 100%;
  left: 13%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #34495E;
  border-width: 10px;
  margin-left: -10px;
}
.testimonials img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  float: left;
  display: inline-block;
  margin: 20px 6px 0 0;
}
.testimonials p.name {
  float: left;
  display: inline-block;
  text-align: left;
  font-size: 13px;
  margin-top: 30px;
}
.staggered {
  margin-top: 20px;
}
/* CALL TO ACTION */
.call-to-action h2 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 0px;
}
.call-to-action p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 40px;
}
/* FOOTER */
footer {
  background-color: #dbe8f1;
  color: #34495e;
  font-weight: italic;
  height: 150px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
footer p, footer nav ul {
  font-weight: italic;
  font-size: 14px;
  font-weight:100;
  text-align: center;
  margin: 10px auto 0;
}
footer nav ul li {
  font-weight: italic;
  list-style-type: none;
  display: inline;
}
footer nav ul li a {
  font-weight: italic;
  color: #34495e;
  text-decoration: none;
}
footer .right-footer-block {
  background-color: transparent;
}
footer .logo{
  padding: 2.35em 0;
  margin: 0 auto;
  display: block;
}
@media (min-width: 992px){
  footer{
    background-color: #dbe8f1;
    height: 100px;
  }
  footer p, footer nav ul{
    padding: 2em 0;
    text-align: left;
  }
  footer .logo{
    padding: 2em 0 2em 1.5em;
  }
}
/* DASHBOARD */
.dashboard {
  background: #DBE8F1;
}
.left-nav {
  height: 100vh;
  width: 14.66666667%;
  color: #DBE8F1;
  background: #161616;
  float: left;
  position: fixed;
  display: block;
}
.left-nav .site-logo {
  padding: 20px 0;
  background: #DBE8F1;
  display: block;
  text-align: center;
}
.left-nav .items {
  padding: 0 10%;
  color: #DBE8F1;
}
.left-nav .items p {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  color: #DBE8F1;
  line-height: 22px;
}
.left-nav .items ul {
  margin: 0 0 40px;
  padding: 0;
}
.left-nav .items ul li {
  list-style-type: none;
  margin-bottom: 15px;
}
.left-nav .items ul li a {
  color: #DBE8F1;
  text-decoration: none;
  font-weight: 100;
}
.left-nav .items ul li a i {
  width: 16px;
  text-align: center;
  margin-right: 8px;
}
/* LEFT NAVBAR SETTINGS */
.left-nav .settings {
  position: absolute;
  background: #72166B;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
}
.left-nav .settings img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-left: 10px;
  display: inline-block;
}
.left-nav .settings p {
  display: inline-block;
  vertical-align: top;
  padding-top: 8px;
  font-weight: 400;
  margin: 0 0 0 10px;
}
.left-nav .settings a {
  color: #DBE8F1;
  text-decoration: none;
  text-align: right;
  float: right;
  margin-right: 10px;
  margin-top: 8px;
}
a:active {
  background-color: #B19CD9;
}
/* HEAD */
.head .container {
  position: relative;
  left: 14.66666667%;
  width: 100%;
  text-align: left;
  background: #161616;
  height: 11.5%;
  display: inline-block;
  padding-bottom: 20px;
}
.head .container h1 {
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
  font-weight: 800;
  margin: 30px 0 20px 36px;
  font-size: 48px;
  color: #DBE8F1;
  line-height: 44px;
  display: inline-block;
}
.head .container .btn {

  display: inline-block;
}
/* CONTENT */
.content {
  padding: 6em 1% 1.5em;
  float: right;
  width: 98%;
  position: relative;
}
.content-item {
  width: 96%;
  margin: 0 2% 25px;
  float: left;
  display: block;
}
.item-box {
  display: block;
  height: 230px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
  position: relative;
  overflow: hidden;
  padding: 20px;
}
/* Larger Mobile Devices */
@media (min-width:460px) {
  .content {
    padding: 1.5em 1%;
    float: right;
    width: 90%;
    position: relative;
  }
  .content-item {
    width: 46%;
    margin: 0 2% 25px;
    float: left;
    display: block;
  }
}
/* Tablets */
@media (min-width:768px) {
  .content {
    padding: 1.5em 5%;
    float: right;
    width: 90%;
    position: relative;
  }
  .content > .container {
    width: 700px;
  }
  .content-item {
    width: 31.33333%;
    margin: 0 1% 25px;
  }
}
/* Laptops and Desktops */
@media (min-width:992px) {
  .content {
    padding: 1.5em 1%;
    float: right;
    width: 83.33333333%;
    position: relative;
  }
  .content > .container {
    width: auto;
  }
  .content-item {
    width: 23%;
    margin: 0 1% 25px;
  }
}
